---
pagination:
  data: milestones
  size: 1
  alias: milestone
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: "Milestone {{ milestone.name }} – jQuery - Bug Tracker"
permalink: '/milestone/{{ milestone.name }}/index.html'
tags: ['milestone']
---

<div class="flex-column" data-pagefind-body>
  <nav class="content-nav">
    <ul class="flex-row">
      {% if pagination.href.previous %}
        <li>
          <a href="{{ pagination.href.previous }}">← Previous Milestone</a>
        </Li>
      {% else %}
        <li>
          <a aria-disabled="true">← Previous Milestone</a>
        </li>
      {% endif %}
      <li>
        <a href="/roadmap">Back to Roadmap</a>
      </li>
      {% if pagination.href.next %}
        <li>
          <a href="{{ pagination.href.next }}">Next Milestone →</a>
        </li>
      {% else %}
        <li>
          <a aria-disabled="true">Next Milestone →</a>
        </li>
      {% endif %}
    </ul>
  </nav>

  <h1>Milestone {{ milestone.name }}</h3>
  <hr>

  {% include "milestone-summary.njk" %}

  <p>jQuery issues have moved to <a href="https://github.com/jquery/jquery/issues">GitHub</a>. This site is now a static version of the old Trac bugs site. Milestones can no longer be edited.</p>
</div>
