---
layout: layouts/base.njk
eleventyImport:
  collections: ['milestones']
---

<h1>Roadmap</h1>
<hr>

<p>jQuery issues have moved to <a href="https://github.com/jquery/jquery/issues">GitHub</a>. This site is now a static version of the old Trac bugs site.</p>

<p>Below is an index of all the milestones that were available on the old site.</p>

<div class="flex-column roadmap">
  {% for milestone in collections.milestone %}
    <a class="milestone-name-link" href={{ milestone.url }}>
      Milestone: <span class="milestone-name">
        {{ milestone.data.milestone.name }}
      </span>
    </a>
    {% set milestone = milestone.data.milestone %}
    {% include "milestone-summary.njk" %}
  {% endfor %}
</div>
