:root {
  --milestone-date-color: #888;
  --milestone-progress-color: #bae0ba;
  --milestone-name-color: #b00;
  --milestone-name-box-shadow-color: #ccc;
}

.milestone-summary {
  font-size: 0.8125rem;
  margin-bottom: 2em;
}

.date {
  color: var(--milestone-date-color);
  font-style: italic;
}

.progress {
  margin: 0.5em 0 1em;
}
.progress-bar {
  width: 100%;
  height: 17px;
  max-width: 398px;
  margin-right: 0.5em
}
.progress-bar-fill {
  height: 100%;
  background-color: var(--milestone-progress-color);
}

.ticket-numbers {
  gap: 1em;
}
.ticket-number {
  font-style: italic;
}

.milestone-description {
  margin: 2em 0 0;
  border-radius: var(--border-radius);
  background-color: white;
  border: 1px solid var(--border-color);
  padding: 0.5em;
}

.milestone-name-link {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.2em 0.375em;
  box-shadow: 1px 1px 0.5em 0 var(--milestone-name-box-shadow-color);
}
.milestone-name-link:hover {
  text-decoration: underline;
}
.milestone-name {
  color: var(--milestone-name-color);
}

.roadmap {
  margin-top: 2em;
}
