---js
{
  pagination: {
    data: 'attachments',
    size: 1,
    alias: 'attachment',
    // Sliced in development or the server gets bogged down
    before: (paginationData) => {
      if (process.env.NODE_ENV === 'development') {
        return paginationData.filter((attachment) => attachment.id + '' === process.env.ATTACHMENT_TICKET)
      }
      return paginationData
    }
  },
  layout: 'layouts/base.njk',
  eleventyComputed: {
    title: "{{ attachment.filename }} on Ticket #{{ attachment.id }} – Attachment – jQuery - Bug Tracker"
  },
  permalink: '/attachment/ticket/{{ attachment.id }}/{{ attachment.filename }}/index.html',
  tags: ['attachment']
}
---

{# Include syntax highligher CSS #}
{%- css %}{% include "node_modules/prismjs/themes/prism.min.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
{%- css %}{% include "public/css/attachment.css" %}{% endcss %}

<div class="flex-column attachment">
  <nav class="content-nav">
    <ul class="flex-row">
      <li>
        <a href="/ticket/{{ attachment.id }}">Back to Ticket #{{ attachment.id }}</a>
      </li>
    </ul>
  </nav>

  <h1>
    <a href="/ticket/{{ attachment.id }}">Ticket #{{ attachment.id }}</a>: {{ attachment.filename }}
  </h3>
  <hr>

  <div class="attachment-info">
    <h6>File {{ attachment.filename }}, {{ attachment.size | bytesToKilos }} (added by {{ attachment.author }}, {{ attachment.time | readableDate }})</h6>
    {% if attachment.description %}
      <p>{{ attachment.description }}</p>
    {% endif %}
  </div>

  {% if attachment.filename | isImage %}
    {% set imageUrl = '../raw-attachment/ticket/' + attachment.id + '/' + attachment.filename %}
    {%- image imageUrl, "Attachment Image" %}
  {% elif attachment.filename | isPreviewable %}
    <div class="attachment-preview">
      {% set ext = attachment.filename | extension %}
      {% highlight ext %}
      {%- attachment attachment.id, attachment.filename %}
      {% endhighlight %}
    </div>
  {% else %}
    <p>
      <strong>This file cannot be previewed.</strong> Try <a download href="/raw-attachment/ticket/{{ attachment.id }}/{{ attachment.filename }}">downloading</a> the file instead.</p>
  {% endif %}

  <div class="attachment-download flex-column flex-center">
    <h3>Download in other formats:</h3>
    <a class="attachment-download-link" download href="/raw-attachment/ticket/{{ attachment.id }}/{{ attachment.filename }}">Original Format</a>
  </div>
</div>