---
layout: layouts/wiki.njk
breadcrumb: WikiStart
---

<h2>This site is no longer in use</h2>
<p>
  jQuery issues have moved to <a href="https://github.com/jquery/jquery/issues">GitHub</a>. This site is now a static archive of the old <a href="https://trac.edgewall.org/">Trac</a> site. Search is still supported for tickets and milestones, but some functions and pages no longer work.
</p>
<p>Before navigating to the jQuery Core GitHub, please take a moment to make sure you're headed to the right place.</p>
<p>
  <strong>jQuery Core API Documentation issues:</strong> Problems with the documentation should be reported to <a class="ext-link" href="http://github.com/jquery/api.jquery.com/issues">
    <span class="icon"></span>api.jquery.com GitHub repository</a>. 
</p>
<p>
  <strong>jQuery web site issues:</strong> Use the trackers in the <a class="ext-link" href="http://github.com/jquery/">
    <span class="icon"></span>individual repos</a> for each site by its domain name, e.g., <a class="ext-link" href="http://github.com/jquery/api.jquery.com/issues">
    <span class="icon"></span>api.jquery.com</a>, <a class="ext-link" href="http://github.com/jquery/jquery.com/issues">
    <span class="icon"></span>jquery.com</a>. Web site issues may also lie in <a class="ext-link" href="http://github.com/jquery/jquery-wp-content/issues">
    <span class="icon"></span>jquery-wp-content</a>, and can be filed there if appropriate.  If you file an web site issue in the wrong place, we will work to make sure it ends up in the right place, however the jQuery core bug tracker is <strong>not that place.</strong>
</p>
<p>
  <strong>jQuery plugins:</strong> Report your bug to its author, <strong>not to jQuery</strong>.
</p>
<p>
  <strong>jQuery UI (Tabs, Dialog, etc.):</strong> jQuery UI is now only in maintenance-only mode. Users should not expect any new releases, though patches may be issued to resolve critical security, interoperability, or regression bugs. Trac, the project's bug-tracking tool, has been archived and developers are asked to file any critical issues on <a href="https://github.com/jquery/jquery-ui/issues" class="ext-link">
    <span class="icon"></span>jQuery UI's GitHub</a>.
</p>
<p>
  <strong>jQuery Mobile:</strong> jQuery Mobile is no longer supported.
</p>
<p>
  <strong>jQuery core bugs only:</strong> Follow these instructions.
</p>
<ul>
  <li>
    <a class="ext-link" href="https://github.com/jquery/jquery/issues">
      <span class="icon"></span>Search</a> for existing similar tickets.
  </li>
  <li>Create a <strong>minimal</strong> test case on <a class="ext-link" href="http://jsfiddle.net">
      <span class="icon"></span>jsfiddle.net</a> or <a class="ext-link" href="http://jsbin.com">
      <span class="icon"></span>jsbin.com</a> demonstrating the issue. Remember that the team only supports the most recent versions; do not report a bug against version 1.7.2, for example.
  </li>
  <li>Read <a class="ext-link" href="http://docs.jquery.com/How_to_Report_Bugs">
      <span class="icon"></span>How to Report Bugs</a> before creating a ticket. 
  </li>
  <li>File your bug at the <a class="ext-link" href="https://github.com/jquery/jquery/issues">
      <span class="icon"></span>jQuery Issue Tracker</a>.
  </li>
</ul>