---
layout: layouts/base.njk
---

<div class="text-center bg-[url(/img/dark-grey-tile.png)] p-8 lg:py-12">
  <h1 class="text-white lg:text-6xl">The jQuery Plugin Registry</h1>
</div>

<div class="flex flex-col lg:flex-row-reverse">
  <div class="py-5 px-6 flex flex-col grow gap-2">
    <h2>This site is a static archive of the old jQuery Plugin Registry.</h2>
    <p>New plugin releases will not be processed.</p>
    <hr/>
    <p>The jQuery Plugin Registry is preserved for historical purposes. Search is still supported.</p>
    <p class="italic">We do not recommend using any plugins from this registry. Please find jQuery plugins on <a href="https://www.npmjs.com/search?q=keywords:jquery-plugin">npm</a>.</p>
  </div>

  <div class="flex flex-col px-6 py-5 lg:w-[300px]">
    <h3 class="text-gray-light flex flex-row items-center gap-2 mb-3">
      {% include "icons/tag.svg" %}
      Tags
    </h3>
    <ul class="flex flex-col gap-1 mb-5 ml-5 list-disc pl-5">
      {% for tag in pluginTags | head(10) %}
        <li>
          <a href="/tag/{{ tag.name | slugify }}">{{ tag.name }}</a>
          <span class="count">({{ tag.plugins.length }})</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
