---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/fullpagesearch.css" %}{% endcss %}

<h1>Search</h1>
<hr>

<div id="full-page-search"></div>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({
      element: "#full-page-search",
      showImages: false,
      translations: {
        placeholder: 'Search all tickets and milestones',
        zero_results: 'No matches found.'
      }
    })
  })
</script>