---js
{
  pagination: {
    data: 'pluginTags',
    size: 1,
    alias: 'tag',
    // Sliced in development or the server gets bogged down
    before: (paginationData) => {
      if (process.env.NODE_ENV === 'development') {
        return paginationData.slice(0, 10)
      }
      return paginationData
    }
  },
  layout: 'layouts/base-sidebar.njk',
  eleventyComputed: {
    title: '{{ tag.name }} | {{ metadata.title }}',
  },
  permalink: '/tag/{{ tag.name | slugify }}/index.html'
}
---

<h1>Tagged: {{ tag.name }}</h1>
<hr/>
