---js
{
  pagination: {
    data: 'tickets',
    size: 1,
    alias: 'ticket',
    // Sliced in development or the server gets bogged down
    before: (paginationData) => {
      if (process.env.NODE_ENV === 'development') {
        const ticketIndex = paginationData.findIndex((ticket) => ticket.id + '' === process.env.ATTACHMENT_TICKET)
        const tickets = paginationData.slice(0, 10)
        if (ticketIndex > 10) {
          tickets.push(paginationData[ticketIndex])
        }
        return tickets
      }
      return paginationData
    }
  },
  layout: 'layouts/ticket.njk',
  eleventyComputed: {
    ticketAttachments: (data) => {
      return data.attachments.filter((attachment) => attachment.id === data.ticket.id)
    },
    title: "#{{ ticket.id }} ({{ ticket.summary }}) - jQuery - Bug Tracker"
  },
  permalink: '/ticket/{{ ticket.id }}/',
  tags: ['tickets']
}
---

{% if pagination.href.previous or pagination.href.next %}
  <nav class="content-nav">
    <ul class="flex-row">
      {% if pagination.href.previous %}
        <li>
          <a href="{{ pagination.href.previous }}">← Previous Ticket</a>
        </Li>
      {% else %}
        <li>
          <a aria-disabled="true">← Previous Ticket</a>
        </li>
      {% endif %}
      {% if pagination.href.next %}
        <li>
          <a href="{{ pagination.href.next }}">Next Ticket →</a>
        </li>
      {% else %}
        <li>
          <a aria-disabled="true">Next Ticket →</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

<div class="ticket-info">
  <div class="flex-row flex-between-start">
    <h3>
      <a href="{{ pagination.url }}" class="ticket-number">#{{ ticket.id }}</a>
      <span class="ticket-status">{{ ticket.status }}</span>
      <span class="ticket-type">{{ ticket.type }}</span>
      <span class="ticket-resolution">({{ ticket.resolution }})</span>
    </h3>

    <div class="ticket-dates">
      <p>Opened {{ ticket.time | readableDate }}</p>
      {% if ticket.status == 'closed' and ticket.closedtime %}
        <p>Closed {{ ticket.closedtime | readableDate }}</p>
      {% endif %}
      {% if not ticket.closedtime or ticket.closedtime != ticket.changetime %}
        <p>Last modified {{ ticket.changetime | readableDate }}</p>
      {% endif %}
    </div>
  </div>

  <h1 class="ticket-title">{{ ticket.summary }}</h1>

  <table class="ticket-properties">
    <tr>
      <th>Reported by:</th>
      <td>
        {{ ticket.reporter }}
      </td>
      <th>Owned by:</th>
      <td>{{ ticket.owner }}</td>
    </tr>
    <tr>
      <th>
        Priority:
      </th>
      <td>
        {{ ticket.priority }}
      </td>
      {% if ticket.mileston %}
        <th>Milestone:</th>
      {% else %}
        <th class="missing">Milestone:</th>
      {% endif %}
      <td>
        <a href="/milestone/{{ ticket.milestone }}">{{ ticket.milestone }}</a>
      </td>
    </tr>
    <tr>
      <th>Component:</th>
      <td>{{ ticket.component }}</td>
      {% if ticket.version %}
        <th>Version:</th>
      {% else %}
        <th class="missing">Version:</th>
      {% endif %}
      <td>{{ ticket.version }}</td>
    </tr>
    <tr>
      {% if ticket.keywords %}
        <th>Keywords:</th>
      {% else %}
        <th class="missing">Keywords:</th>
      {% endif %}
      <td>{{ ticket.keywords }}</td>
      {% if ticket.cc %}
        <th>Cc:</th>
      {% else %}
        <th class="missing">Cc:</th>
      {% endif %}
      <td>{{ ticket.cc }}</td>
    </tr>
    <tr>
      <th class="missing">
        Blocked by:
      </th>
      <td></td>
      <th class="missing">
        Blocking:
      </th>
      <td></td>
    </tr>
  </table>
  <div class="ticket-info-bottom">
    <h5 class="ticket-description-title">Description</h5>
    <div class="ticket-description">{{ ticket.description | tracToHTML | safe }}</div>
  </div>
</div>

<details>
  <summary class="ticket-details-summary">Attachments ({{ ticketAttachments | length }})</summary>

  <ul class="ticket-attachments">
    {% for attachment in ticketAttachments %}
      <li>
        <a href="/attachment/ticket/{{ attachment.id }}/{{ attachment.filename }}/index.html">{{ attachment.filename }}</a> ({{ attachment.size | bytesToKilos }}) - added by {{ attachment.author }}
        <strong>{{ attachment.time | readableDate }}</strong>.<br />
        {{ attachment.description | tracToHTML | safe }}
      </li>
    {% endfor %}
  </ul>
</details>

<details open>
  <summary class="ticket-details-summary">Change History ({{ ticket.changes | length }})</summary>
  {% for change in ticket.changes %}
    <div class="ticket-change flex-column" id="comment:{{ loop.index }}">
      <h3 class="flex-row flex-between-start ticket-change-header">
        <span>Changed {{ change.time | readableDate }} by <span class="author">{{ change.author }}</span></span>
        <a class="ticket-change-link" href="#comment:{{ loop.index }}">comment:{{ loop.index }}</a>
      </h3>

      <div class="ticket-change-content">
        <table class="ticket-changes">
          <tbody>
            {% for field in change.fields %}
              {% if field.field != 'comment' %}
                <tr>
                  <th>{{ field.field }}:</th>
                  <td>
                    {% if field.oldvalue and field.newvalue %}
                      <span class="change-field-old">{{ field.oldvalue }}</span> → <span class="change-field-new">{{ field.newvalue }}</span>
                    {% elif field.oldvalue %}
                      <span class="change-field-old strikethrough">{{ field.oldvalue }}</span>
                    {% elif field.newvalue %}
                      <span class="change-field-new">→ {{ field.newvalue }}</span>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% for field in change.fields %}
          {% if field.field == 'comment' %}
            <div class="ticket-comment-body">
              {{ field.newvalue | tracToHTML | safe }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</details>