---js
{
  pagination: {
    data: 'wiki',
    size: 1,
    alias: 'wiki',
    addAllPagesToCollections: true
  },
  layout: 'layouts/wiki.njk',
  eleventyComputed: {
    breadcrumb: '{{ wiki.name }}',
    title: '{{ wiki.name }}'
  },
  permalink: '/wiki/{{ wiki.name }}/',
  tags: ['wiki']
}
---

{{ wiki.text | tracToHTML | safe }}
