<footer class="bg-gray-dark w-full flex justify-center items-end border-t border-t-blue-light min-h-[200px] -mt-6">
  <div class="text-footer-text text-xs pt-12 pb-4 px-4 w-full max-w-screen-xl flex flex-col justify-between items-center gap-8 lg:flex-row-reverse">
    <ul class="flex flex-row justify-center flex-wrap gap-4">
      <li>
        <a class="link-footer" href="https://github.com/jquery">
          {% include "icons/github.svg" %}
          GitHub
        </a>
      </li>
      <li>
        <a class="link-footer" href="https://learn.jquery.com/">
          {% include "icons/pencil.svg" %}
          Learning Center
        </a>
      </li>
      <li>
        <a class="link-footer" href="https://matrix.to/#/#jquery_jquery:gitter.im">
          {% include "icons/matrix.svg" %}
          Matrix
        </a>
      </li>
      <li>
        <a class="link-footer" href="https://social.lfx.dev/@jquery">
          {% include "icons/mastodon.svg" %}
          Mastodon
        </a>
      </li>
    </ul>
    <div class="flex flex-row gap-2">
      Copyright &copy; {% currentYear %}
      <a href="https://openjsf.org" class="link-footer">The OpenJS Foundation</a>
    </div>
  </div>
</footer>
