---
layout: 'layouts/wiki.njk'
breadcrumb: 'TitleIndex'
eleventyImport: 
  collections: ['wiki']
---

<p>jQuery issues have moved to <a href="https://github.com/jquery/jquery/issues">GitHub</a>. This site is now a static version of the old Trac bugs site.</p>

<p>Trac macros and some wiki formatting (such as tables) are no longer supported. Full Trac Documentation is available at <a href="https://trac.edgewall.org/">https://trac.edgewall.org</a>.
</p>

<p>Below is an index of all the wiki pages that were available on the old site.</p>

<div class="flex-column items-start">
  {% for wiki in collections.wiki %}
    <a href="{{ wiki.url }}" class="wiki-index-link">{{ wiki.data.title }}</a>
  {% endfor %}
</div>