---
---

<!doctype html>
<html lang="{{ metadata.language }}" class="bg-background h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-pagefind-meta="title">{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    {% favicon './public/favicon.svg' %}
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    {# Insert styles dependent on path prefix here #}
    <style type="text/css">
      @font-face {
        font-family: Cairo;
        src: url({{ '/fonts/Cairo/Cairo-Bold.ttf' | url }}) format("truetype");
        font-weight: bold;
      }
      .bg-dark-tiles {
        background-image: url({{ '/img/dark-grey-tile.png' | url }});
      }
      .pagefind-ui__form:after {
        background: url({{ '/img/search.svg' | url }}) no-repeat 2px center;
      }
      .list-custom-bullet {
        list-style-image: url({{ '/img/bullet.png' | url }});
      }
    </style>
  </head>
  <body class="flex flex-col h-full items-center">
    <a href="#skip" class="sr-only">Skip to main content</a>
    {% include "header.njk" %}
    <div class="flex flex-col w-full grow p-4 max-w-screen-xl">
      <a href="/" class="self-center lg:self-start inline-block mt-8 mb-6">
        <img alt="jQuery Logo" src="/img/logo-white.svg" width="233" height="66"/>
      </a>
      {% include "search.njk" %}
      <main id="skip" class="relative flex flex-col w-full mt-4 -mb-4 shadow-[-3px_0_5px_-3px_rgb(0,0,0,0.8),3px_0_5px_-3px_rgb(0,0,0,0.8)] bg-white rounded-xl lg:rounded-t-none overflow-hidden lg:mt-0">
        {{ content | safe }}
      </main>
    </div>
    {% include "footer.njk" %}
  </body>
</html>
