name: Deploy site

on:
  # Runs on pushes targeting the default branch
  # push:
  #   branches: ['main']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: 'pages'
  cancel-in-progress: false

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      DEPLOY_DIR: _site/
      DEPLOY_BRANCH: gh-pages
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Prepare deployment branch
        run: |
          mkdir "${DEPLOY_DIR}"
          cd "${DEPLOY_DIR}"
          # Clone and checkout existing branch, or initialise with a new and empty branch
          git clone --depth 5 --branch "${DEPLOY_BRANCH}" "https://github.com/${GITHUB_REPOSITORY}.git" . || git init -b "${DEPLOY_BRANCH}"

      - name: Install Node.js dependencies
        run: npm ci

      - name: Build with Eleventy
        env:
          NODE_ENV: production
          NODE_OPTIONS: '--max_old_space_size=4096'
        run: npm run build

      - name: Push to branch
        # Inspired by https://github.com/helaili/jekyll-action/blob/2.2.0/entrypoint.sh
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: |
          cd "${DEPLOY_DIR}"
          touch .nojekyll
          git config user.name "${GITHUB_ACTOR}" && \
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com" && \
          git add . && \
          git commit --allow-empty -m "Build commit ${GITHUB_SHA}" && \
          git push "https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git" "HEAD:${DEPLOY_BRANCH}"
